* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 450px;
  height: 540px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.display {
  height: 100px;
  width: 100%;
  padding: 0 10px;
  background-color: #67626ba8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.figures {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  cursor: pointer;
}

.operator {
  background-color: hsl(30, 80%, 54%);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #858694;
  padding: 15px 10px;
  color: white;
  font-weight: 600;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul > li {
  padding: 5px 10px;
  font-size: 20px;
  border-right: 1px solid white;
}

.navbar ul > li:last-child {
  border-right: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  text-align: center;
  margin: 5rem auto;
}

.container h1 {
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 3rem;
}

.container p {
  margin: 3rem 10rem;
  letter-spacing: 1px;
  background: #e4e4e4;
  padding: 2rem;
  border-radius: 4rem;
  line-height: 1.3rem;
}

.container h3 {
  background: #e4e4e4;
  padding: 1.5rem;
  margin: 3rem 10rem;
  border-radius: 2rem;
}