* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color1: #67626ba8;
  --color2: #fff;
  --color3: hsl(30, 80%, 54%);
  --color4: #65b1dd;
  --box-shadow: 2px 1px 15px 1px #000;
  --box-shadow2: 2px 2px 10px 0 #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65b1dd;
}

.calc-body {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  justify-content: space-between;
}

.calculator {
  width: 98%;
  margin-top: 15%;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow2);
  transition: 400ms linear;
  -webkit-transition: 400ms linear;
  -moz-transition: 400ms linear;
  -ms-transition: 400ms linear;
  -o-transition: 400ms linear;
}

.calculator:hover {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
}

.display {
  height: 100px;
  width: 100%;
  padding: 0 10px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color2);
  font-weight: bold;
  box-sizing: border-box;
}

.figures {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  cursor: pointer;
}

.operator {
  background-color: var(--color3);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 15px;
}

.letsdo {
  margin: auto;
}

.navbar {
  position: fixed;
  top: 3%;
  left: 2%;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color1);
  box-shadow: var(--box-shadow2);
  padding: 15px 10px;
  color: var(--color2);
  font-weight: 600;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul > li {
  padding: 5px 10px;
  font-size: 20px;
  border-right: 1px solid var(--color2);
}

.navbar ul > li:last-child {
  border-right: none;
}

.navbar a {
  color: var(--color2);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
 text-align: center;
 margin: 15rem auto;
 width: 92%;
 -webkit-box-shadow: var(--box-shadow);
 box-shadow: var(--box-shadow);
 border-radius: 2rem;
 background-color: var(--color4);
 -webkit-border-radius: 2rem;
 -moz-border-radius: 2rem;
 -ms-border-radius: 2rem;
 -o-border-radius: 2rem;
 transition: 1000ms linear;
 -webkit-transition: 1000ms linear;
 -moz-transition: 1000ms linear;
 -ms-transition: 1000ms linear;
 -o-transition: 1000ms linear;
}

.container:hover {
 transform: scaleY(2);
 -webkit-transform: scaleY(2);
 -moz-transform: scaleY(2);
 -ms-transform: scaleY(2);
 -o-transform: scaleY(2);
 background-color: var(--color2);
 margin-top: 20rem;
}

.container h1 {
  font-weight: 600;
  color: var(--color1);
  letter-spacing: 1px;
  font-style: italic;
  font-size: 2rem;
  height: 70%;
}

.container p {
  letter-spacing: 1px;
  padding: 2rem;
  border-radius: 4rem;
  line-height: 1.3rem;
}

.container h3 {
  padding: 1.5rem;
}
